<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thirdparty.test">

    <!--  Android  30부터 추가됨 만약에 bindService false return 하는 경우.
    Visiblity를 설정하는 게 들어가는듯!!!!
    찾아보니  https://developer.android.com/training/package-visibility/declaring#automatic  -->

    <!--
        https://developers.google.com/ar/develop/unity/android-11-build
    -->
    <queries>
        <intent>
            <action android:name="com.bhaptics.player.BhapticsHapticService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MockBhapticsPlayer">
        <activity android:name=".SampleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>